<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.model.dao.BoardMapper">
	
<!-- 	<resultMap type="BoardDto" id="article"> -->
<!-- 		<result column="bno" property="bno"/> -->
<!-- 		<result column="subject" property="subject"/> -->
<!-- 		<result column="id" property="id"/> -->
<!-- 		<result column="content" property="content"/> -->
<!-- 		<result column="hit" property="hit"/> -->
<!-- 		<result column="register_time" property="registerTime"/> -->
<!-- 	</resultMap> -->

	<insert id="insert" parameterType="BoardDto">
		insert into board_tb(subject, id, content)
		values (#{subject}, #{id}, #{content})
	</insert>
	
	<update id="hitadd" parameterType="int">
		update board_tb
		set hit = hit + 1
		where bno = #{bno}
	</update>
	
	<select id="selectAll" resultType="BoardDto">
		select bno, subject, id, content, hit, register_time as registerTime
		from board_tb
		order by bno desc
	</select>
	
	<select id="selectOne" parameterType="int" resultType="BoardDto">
		SELECT * FROM BOARD_TB WHERE BNO=#{bno}
	</select>
	
	<delete id="delete">
		DELETE FROM BOARD_TB WHERE BNO=#{bno}
	</delete>
	
	<update id="update" parameterType="BoardDto">
		update board_tb
		set subject = #{subject}, content = #{content}
		where bno = #{bno}
	</update>
	
	<select id="titleSearch" resultType="BoardDto">
		select bno, subject, id, content, hit, register_time as registerTime
		from board_tb
		where subject like CONCAT("%", #{keyword}, "%")
		order by bno desc
	</select>
	
	<select id="contentSearch" resultType="BoardDto">
		select bno, subject, id, content, hit, register_time as registerTime
		from board_tb
		where subject like CONCAT("%", #{keyword}, "%") 
		or content like CONCAT("%", #{keyword}, "%")
		order by bno desc
	</select>
	
	<select id="writerSearch" resultType="BoardDto">
		select bno, subject, id, content, hit, register_time as registerTime
		from board_tb
		where id like CONCAT("%", #{keyword}, "%") 
		order by bno desc
	</select>
	
	<select id="myBoardList" resultType="BoardDto">
		select bno, subject, register_time as registerTime
		from board_tb
		where id = #{id}
		order by register_time desc
	</select>
	
</mapper>